/* $blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb; */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  overflow: hidden;
}

.App .App-header {
  background-color: #805acb;
  height: 3rem;
  width: 100%;
  z-index: 2;
}

.App .App-header .mobileToggle {
  display: none;
}

.App main {
  /* background-color: #fff; */
  background-color: #2e3035;
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerAll * {
  margin: 0 auto;
}

.undecoratedLink {
  text-decoration: none;
  color: white;
}

.pointer {
  cursor: pointer;
}

.noSelect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#imageBoard {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 0.2rem;
  padding-bottom: 1rem;
}

/* #imageBoard{
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    
} */
/* .imageGrid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 3rem;
    .postItem{
        width: calc(80rem / 5) !important;
        //use 16/9 dim
        height: calc( ((80rem / 5) / 16) * 9 ) !important;
        box-sizing: border-box;
        padding: 0.1rem;
    }
}
 */
.postItem {
  /* max-height: 9rem;
    width: 16rem; */
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /* margin: 0.1rem; */
  overflow: hidden;
  position: relative;
}

.postItem .selectedArrow {
  background-color: black;
  height: 1rem;
  width: 1rem;
  position: absolute;
  bottom: 0;
  left: calc(50% - 0.5rem);
}

.postItem img {
  width: 100%;
}

.postRow {
  width: 100%;
  margin: 0.2rem auto;
}

.postRow .postRowFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#postFeedSmall {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#postViewModal {
  position: absolute;
  top: 3rem;
  left: 0;
  height: calc(100% - 3rem);
  width: 100%;
  overflow: auto;
  background-color: #2e3035;
}

.fullScreenModal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #2e3035;
  z-index: 4;
}

.fullScreenModal .closeButton {
  position: fixed !important;
  top: 2rem;
  right: 2rem;
}

@-webkit-keyframes comeFromTop {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes comeFromTop {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.shortInfo {
  position: fixed;
  width: 100%;
  top: 1rem;
  -webkit-animation: comeFromTop 1s,fadeOut 2s forwards ease-in 2s;
          animation: comeFromTop 1s,fadeOut 2s forwards ease-in 2s;
}

.shortInfo p {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #e7b9ff;
  background-color: #2e3035;
}

.fullScreenImage {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.innerContent {
  max-width: 80rem;
  margin: 0 auto;
}

.postView {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 4rem;
  max-width: 80rem;
}

.postView img {
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: 0 auto;
}

.postView p {
  margin: 0;
}

.postView .imageWrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.postView .imageWrapper .fullScreenButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.postView .imageWrapper .fullScreenButton i {
  font-size: 3rem;
}

.postView .imageWrapper .fullScreenButton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.postView .imageWrapper .postNav {
  position: absolute;
  top: calc(50% - 3rem);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.postView .imageWrapper .postNav i {
  font-size: 6rem;
  color: rgba(200, 200, 200, 0.6);
}

.postView .imageWrapper .postNav i:hover {
  color: white;
}

.postView .navForward {
  right: -6rem;
}

.postView .navBack {
  left: -6rem;
}

.ratings {
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  width: 100%;
  overflow: hidden;
}

.ratings section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2rem;
  padding: 0.5rem;
}

.ratings section #currentVote {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  background-color: #ff79b0;
}

.ratings section div {
  text-align: center;
  border-radius: 50%;
  border: 1px solid #e7b9ff;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
}

.ratings section div:hover, .ratings section div #currentVote {
  background-color: #805acb;
}

.ratings .votePlaceholder {
  width: 2rem;
}

.ratings .ratingP {
  font-size: 4rem;
  font-weight: bold;
  margin-right: 1rem;
  min-width: 10rem;
  text-align: center;
}

.ratings .postTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ratings .postTags .tag {
  margin: 0.5rem 0.4rem;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  border: 1px solid #ff4081;
  background-color: #ff79b0;
  font-size: 0.8rem;
}

.ratings .favoriteWrapper {
  width: 4rem;
  margin: 0 1rem 0 1rem;
}

.ratings .favoriteWrapper i {
  font-size: 3rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ratings .favoriteWrapper i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ratings .favoriteWrapper .on {
  -webkit-animation: 0.5s bounce ease-in-out forwards;
          animation: 0.5s bounce ease-in-out forwards;
  font-size: 3.4rem;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff4081;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff4081;
  }
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* NAVBAR STYLING */
.mainNavBar {
  max-width: 80rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNavBar .navItem {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.8rem;
}

.mainNavBar .active {
  font-size: 1.1rem;
  border-bottom: 0.3rem solid white;
}

.searchComp {
  width: 14rem;
  padding: 0.2rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid transparent;
}

.searchComp .searchInput {
  width: 100%;
  background-color: transparent;
  border: none;
  /* &:-webkit-autofill{
            background-color: transparent !important;

        }
        &:-webkit-autofill:focus{
            background-color: transparent !important;
        } */
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

@keyframes autofill {
  to {
    background: transparent;
  }
}

.searchComp .searchInput:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.searchComp .searchInput:focus {
  outline: none;
  background-color: transparent !important;
}

.searchComp .searchSubmit {
  width: 10%;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  display: none !important;
}

.searchComp .searchSubmit + label {
  width: 10%;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.searchComp:focus-within {
  border: 1px solid #ff79b0;
}

.searchComp:focus-within label {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.searchActive {
  border: 1px solid #ff79b0;
}

.searchActive label {
  -webkit-transform: translateX(0rem) !important;
          transform: translateX(0rem) !important;
}

#userPage {
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr)); */
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

#userPage .postBoardProfile {
  margin-top: 8rem;
  grid-column: 1/-1;
}

#userPage .postBoardProfile .profilePostWrapper {
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  /* .toggleMyPostsView{
            }
            .toggleFavoritesView{
            } */
}

#userPage .postBoardProfile .profilePostWrapper h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

#userPage .postBoardProfile .profilePostWrapper .inactive {
  color: lightgrey;
  opacity: 0.4;
  font-weight: 400;
}

.userBanner {
  grid-column: 1/-1;
  height: 14rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* h1,p{
        text-align: center;
    } */
}

.userBanner .personalSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.userBanner .badgeSection {
  width: 20rem;
}

.userBanner .badgeSection h1 {
  text-align: center;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh) scale(0);
            transform: translateY(-100vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh) scale(0);
            transform: translateY(-100vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.closeButton {
  cursor: pointer;
  background-color: #805acb;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 2.2rem;
  position: absolute;
  border: 1px solid #e7b9ff;
}

.closeButton:hover {
  font-weight: bold;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.uploadModal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.uploadModal .innerContent {
  -webkit-animation: slideInFromTop 1s ease-in-out;
          animation: slideInFromTop 1s ease-in-out;
  max-width: 84rem !important;
  border-radius: 1rem;
  border: 1px solid #e7b9ff;
  background-color: #2e3035;
  /* width: 100%;  mobile*/
  padding: 2rem;
  position: relative;
}

.uploadModal .closeButton {
  right: -1.4rem;
  top: -1.4rem;
}

.uploadComp {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  padding-bottom: 3rem;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.uploadComp .postSucces {
  height: 10rem;
  font-size: 1.4rem;
}

.uploadComp .uploadForm {
  width: 90%;
  /* background-color: $secondary-light; */
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  min-height: 14rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.uploadComp .uploadForm input, .uploadComp .uploadForm textarea {
  color: white;
  width: 100%;
  display: block;
  margin: 1rem 0 0 0;
  background-color: transparent;
  border: 1px solid #805acb;
}

.uploadComp .uploadForm textarea {
  min-height: 12rem;
  padding: 0;
}

.uploadComp .uploadForm .dragAndDrop {
  width: 100%;
  margin: 0;
  height: 10rem;
  border: 1px solid #805acb;
  border-radius: 1.4rem;
}

.uploadComp .uploadForm .dragAndDrop p {
  margin: 1rem;
  text-align: center;
}

.uploadComp .imageContainer {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  width: 100%;
}

.uploadComp .imageContainer img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 70vh;
}

/* #uploadInput{
    display: none !important;
}
#uploadInput + #uploadInputLabel{
    width: 90%;
    margin: 1rem auto 0 auto;
    display: block;
    height: 8rem;
    background-color: orange;
    border-radius: 2rem;
} */
.commentCell {
  width: 100%;
  border: 1px solid #e7b9ff;
  border-radius: 0.4rem;
  padding: 0 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.commentCell .commentRow {
  padding: 0 0 1rem 0;
  /* border-bottom: 1px solid green; */
}

.commentCell .commentRow .commentBy {
  padding-bottom: 0.5rem;
  color: #e7b9ff;
}

.commentCell .answerCell {
  margin-left: 4rem;
}

.commentForm {
  margin-top: 3rem;
  width: 100%;
  max-width: 50rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: rgba(200, 200, 200, 0.4);
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}

.commentForm .commentInfo {
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 1.4rem;
}

.commentForm .commentText {
  color: white;
  height: 100%;
  width: 90%;
  margin: 0.5rem 1rem 0 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
}

.commentForm .commentText:focus {
  outline: none;
}

.commentForm .commentText::-webkit-input-placeholder {
  color: #e7b9ff;
}

.commentForm .commentText:-ms-input-placeholder {
  color: #e7b9ff;
}

.commentForm .commentText::-ms-input-placeholder {
  color: #e7b9ff;
}

.commentForm .commentText::placeholder {
  color: #e7b9ff;
}

.commentForm .submitComment {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  float: right;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #805acb;
  border-radius: 0.4rem;
}

.commentFormSimple {
  margin-top: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.commentFormSimple .commentInfo {
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 1.4rem;
}

.commentFormSimple .commentText {
  border-radius: 1rem 1rem 0 1rem;
  padding: 1rem;
  background-color: rgba(200, 200, 200, 0.4);
  color: white;
  height: 100%;
  width: 90%;
  margin: 0 !important;
  background-color: transparent;
  font-size: 1.4rem;
}

.commentFormSimple .commentText:focus {
  outline: none;
}

.commentFormSimple .commentText::-webkit-input-placeholder {
  color: #e7b9ff;
}

.commentFormSimple .commentText:-ms-input-placeholder {
  color: #e7b9ff;
}

.commentFormSimple .commentText::-ms-input-placeholder {
  color: #e7b9ff;
}

.commentFormSimple .commentText::placeholder {
  color: #e7b9ff;
}

.commentFormSimple .submitComment {
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #805acb;
  border-radius: 0.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.submitButtonMain {
  background-color: #805acb !important;
  border: none;
  padding: 0.2rem;
  color: white;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}

.submitButtonMain:hover {
  background-color: white !important;
  color: black !important;
}

.logSignForm {
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2e3035;
  /* border: 1px solid $primary-light; */
  border-bottom: 1px solid #e7b9ff;
  border-right: 1px solid #e7b9ff;
  border-left: 1px solid #e7b9ff;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  z-index: 4;
}

.logSignForm input {
  color: white;
  min-width: 24rem;
  width: 100%;
  display: block;
  margin: 1rem 0 0 0;
  background-color: transparent;
  border: 1px solid #805acb;
}

.fixHeightNoBorder {
  border: none !important;
  min-height: 40rem;
  background-color: transparent !important;
  z-index: 4;
}

.logSignContainer {
  width: 100%;
}

.logSignContainer .logSignSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-bottom: 2rem; */
  overflow: hidden;
}

.logSignContainer .logSignSwitch div {
  background-color: #2e3035;
  width: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #e7b9ff;
  border-right: 1px solid #e7b9ff;
  border-left: 1px solid #e7b9ff;
  border-radius: 1rem 1rem 0 0;
}

.logSignContainer .logSignSwitch .inactive {
  -webkit-transform: scaleY(0.95) translateY(2px);
          transform: scaleY(0.95) translateY(2px);
  border-bottom: 2px solid #e7b9ff;
  background-color: #444444;
}

@media (max-width: 767px) {
  .mobileToggle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainNavBar {
    position: absolute;
    top: 3rem;
    background-color: #2e3035;
    height: unset;
    display: -ms-grid;
    display: grid;
    padding: 2rem 0;
    grid-gap: 2rem;
    grid-auto-rows: repeat(5, 1fr);
    -webkit-animation: navFromTop 1s ease-in-out;
            animation: navFromTop 1s ease-in-out;
    border-bottom: 1px solid #e7b9ff;
  }
  .mainNavBar .searchComp {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  @-webkit-keyframes navFromTop {
    from {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes navFromTop {
    from {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .mobileNavClosed {
    display: none;
  }
  #postFeedSmall {
    display: none;
  }
  .navForward, .navBack {
    display: none !important;
  }
  .commentCell, .commentForm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .fullScreenButton {
    display: none;
  }
  .uploadComp {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (minmax(2rem, 1fr))[auto-fill];
        grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
  }
  .uploadComp .uploadForm {
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 94%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: 1/-1;
  }
  .uploadComp .imageContainer {
    margin-top: 1rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 1/-1;
    max-height: unset;
  }
  .uploadModal {
    background-color: #2e3035;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }
  .uploadModal .innerContent {
    border-radius: 0;
    border: none;
    padding: 2rem 0;
  }
  .uploadModal .innerContent .closeButton {
    right: 2%;
    top: 2%;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
  }
  .fixHeightNoBorder {
    min-height: unset;
  }
  .logSignContainer {
    margin-top: 2rem;
  }
  .logSignForm input {
    min-width: unset;
  }
}
/*# sourceMappingURL=customStyles.css.map */