@import './variables.scss';

html,body{
    height: 100%;
    margin: 0;
}

.App{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $textColor;
    overflow: hidden;
    .App-header{
        background-color: $primary-dark;
        height: 3rem;
        width: 100%;
        z-index: 2;
        .mobileToggle{
            display: none;
        }

    }
    main{
        /* background-color: #fff; */
        background-color: $bgColor;
        width: 100%;
        margin: 0 auto;
        flex: 1;
        overflow: auto;
    }
}
.centerAll{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    *{
        margin: 0 auto;
    }
}

.undecoratedLink{
    text-decoration: none;
    color: white;
}
.pointer{
    cursor: pointer;
}
.noSelect{
    user-select: none;
}

#imageBoard{
    width: 100%;
    max-width:  $containerWidth;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
    grid-gap: 0.2rem;
    padding-bottom: 1rem;
}

/* #imageBoard{
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    
} */
/* .imageGrid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 3rem;
    .postItem{
        width: calc(#{$containerWidth} / 5) !important;
        //use 16/9 dim
        height: calc( ((#{$containerWidth} / 5) / 16) * 9 ) !important;
        box-sizing: border-box;
        padding: 0.1rem;
    }
}
 */
.postItem{
    /* max-height: 9rem;
    width: 16rem; */
    align-self: center;
    /* margin: 0.1rem; */
    overflow: hidden;
    position: relative;
    .selectedArrow{
        background-color: black;
        height: 1rem;
        width: 1rem;
        position: absolute;
        bottom: 0;
        left: calc(50% - 0.5rem);
    }    
    img{
        width: 100%;
    }

}
.postRow{
    width: 100%;
    margin: 0.2rem auto;
    .postRowFlex{
        display: flex;
    }
    
}

#postFeedSmall{
    overflow: hidden;
    display: grid;
    //height: 12rem;
    //grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#postViewModal{
    position: absolute;
    top: 3rem;
    left: 0;
    height: calc(100% - 3rem);
    width: 100%;
    overflow: auto;
    background-color: $bgColor;
    
}
.fullScreenModal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $bgColor;
    z-index: 4;

    .closeButton{
        position: fixed !important;
        top: 2rem;
        right: 2rem;
    }
}
@keyframes comeFromTop{
    0%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0);
    }

}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }

}
.shortInfo{
    position: fixed;
    width: 100%;
    top: 1rem;
    animation: comeFromTop 1s,fadeOut 2s forwards ease-in 2s;

    p{
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid $primary-light;
      background-color: $bgColor;  
    }
}


.fullScreenImage{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.innerContent{
    max-width: $containerWidth;
    margin: 0 auto;
}

.postView{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 4rem;
    max-width: $containerWidth;
    img{
        max-width: 100%;
        max-height: 100vh;
        display: block;
        margin: 0 auto;
    }
    p{
        margin: 0;
    }
    .imageWrapper{
        user-select: none;
        position: relative;
        .fullScreenButton{
            position: absolute;
            right: 1rem;
            top: 1rem;
            i{
                font-size: 3rem;
            }
            &:hover{
                transform: scale(1.2);
            }
        }
        .postNav{
            position: absolute;
            top: calc(50% - 3rem);
            cursor: pointer;
            user-select: none;
            i{
                font-size: 6rem;
                color: rgba(200,200,200,0.6);
    
                &:hover{
                    color: rgba(255, 255, 255, 1);
    
                }
            }
        }
    }
    
    .navForward{
        right: -6rem;
    }
    .navBack{
        left: -6rem;
    }
    
}
.ratings{
    min-height: 2rem;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
    overflow: hidden;
    section{
        display: flex;
        width: 4rem;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        font-size: 2rem;
        padding: 0.5rem;
        #currentVote{
            transform: scale(1.2) !important;
            background-color: $secondary-light;

        }
        div{
            text-align: center;
            border-radius: 50%;
            border: 1px solid $primary-light;
            margin: 0.2rem;
            width: 2rem;
            height: 2rem;
            &:hover, #currentVote{
                background-color: $primary-dark;
            }
        }
        
    }
    .votePlaceholder{
        width: 2rem;
    }
    .ratingP{
        font-size: 4rem;
        font-weight: bold; 
        margin-right: 1rem; 
        min-width: 10rem;
        text-align: center;  
    }
    .postTags{
        display: flex;
        margin: 0 0 0 0rem;
        flex-wrap: wrap;
        .tag{
            margin: 0.5rem 0.4rem;
            border-radius: 2rem;
            padding: 0.2rem 1rem;
            border: 1px solid $secondary;
            background-color: $secondary-light;
            font-size: 0.8rem;
        }
    }
    .favoriteWrapper{
        width: 4rem;
        margin: 0 1rem 0 1rem;
        
        i{
            font-size: 3rem;
            cursor: pointer;
            user-select: none;
            &:hover{
                transform: scale(1.2);
            }
        }
        .on{
            animation: 0.5s bounce ease-in-out forwards;
            font-size: 3.4rem;

        }
    }
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);

    }
    100%{
        transform: scale(1);
        color: $secondary;
    }
}


.comments{
    display: flex;
    align-items: center;
}



/* NAVBAR STYLING */
.mainNavBar{
    max-width: $containerWidth;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .navItem{
        height: 100%;
        box-sizing: border-box;
        padding: 0 0.8rem;
    }
    .active{
        //font-weight: bold;
        font-size: 1.1rem;
        border-bottom: 0.3rem solid white;
    }
    
}




.searchComp{
    width: 14rem;
    padding: 0.2rem 0.6rem;
    background-color: rgba(255,255,255,0.4);
    border-radius: 2rem;
    overflow: hidden;
    border:1px solid transparent;
    
    .searchInput{
        width: 100%;
        background-color: transparent;
        border: none;
        @keyframes autofill {
            to {
                background: transparent;
            }
        }
        
        &:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }
        &:focus{
            outline: none;
            background-color: transparent !important;
        }
        /* &:-webkit-autofill{
            background-color: transparent !important;

        }
        &:-webkit-autofill:focus{
            background-color: transparent !important;
        } */
    }
    
    
    .searchSubmit{
        //display: none;
        width: 10%;
        transform: translateX(2rem);
        display: none !important;
    }
    .searchSubmit+label{
        width: 10%;
        transform: translateX(2rem);
        transition: 0.5s;
    }
    &:focus-within{
        border:1px solid $secondary-light;
        label{
            transform: translateX(0rem)
        }
    }
}
.searchActive{
    border:1px solid $secondary-light;
    label{
        transform: translateX(0rem) !important
    }
}
#userPage{
    width: 100%;
    margin: 0 auto;
    max-width: $containerWidth;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr)); */
    grid-template-rows: repeat(6,1fr);
    
    .postBoardProfile{
        margin-top: 8rem;
        grid-column: 1/-1;
        
        .profilePostWrapper{
            border-bottom: 2px solid white;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            h1{
                font-size: 2rem;
                margin-bottom: 0.8rem;
                
            }
            /* .toggleMyPostsView{
            }
            .toggleFavoritesView{
            } */
            .inactive{
                color: lightgrey;
                opacity: 0.4;
                font-weight: 400;
            }
        }
        
    }
}
.logOutButton{
    
}
.userBanner{
    grid-column: 1/-1;
    height: 14rem;
    margin-top: 2rem;
    display: flex;
    /* h1,p{
        text-align: center;
    } */
    .personalSection{
        flex: 1;
    }
    .badgeSection{
        width: 20rem;
        h1{
            text-align: center;
        }
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100vh) scale(0);

    }
    100%{
        transform: translateY(0) scale(1);
    }
}
.closeButton{
    cursor: pointer;
    background-color: $primary-dark;
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 2.2rem;
    position: absolute;
    border: 1px solid $primary-light;
    &:hover{
        font-weight: bold;
        transform: scale(1.4)
    }
}
.uploadModal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    .innerContent{
        animation: slideInFromTop 1s ease-in-out;
        max-width: 84rem !important;
        border-radius: 1rem;
        border: 1px solid $primary-light;
        background-color: $bgColor;
        /* width: 100%;  mobile*/
        padding: 2rem;
        position: relative;
    }
    .closeButton{
        
        right: -1.4rem;
        top: -1.4rem;
        
    }
}

.uploadComp{
    grid-column: 1/-1;
    display: grid;
    padding-bottom: 3rem;
    grid-template-columns: repeat(8,1fr);
    .postSucces{
        height: 10rem;
        font-size: 1.4rem;
    }
    .uploadForm{
        width: 90%;
        /* background-color: $secondary-light; */
        grid-column: 1/4;
        min-height: 14rem;
        align-self: center;

        input, textarea{
            color: white;
            width: 100%;
            display: block;
            margin: 1rem 0 0 0;
            background-color: transparent;
            border: 1px solid $primary-dark;
        }
        textarea{
            min-height: 12rem;
            padding: 0;
        }
  
        .dragAndDrop{
            width: 100%;
            margin: 0;
            height: 10rem;
            border: 1px solid $primary-dark;
            border-radius: 1.4rem;
            p{
                margin: 1rem;
                text-align: center;
                
            }
        }
    }
    .imageContainer{
        grid-column: 4/9;
        width: 100%;
        img{
            margin: 0 auto;
            display: block;
            max-width: 100%;
            max-height: 70vh;
        }
    }
 
}
/* #uploadInput{
    display: none !important;
}
#uploadInput + #uploadInputLabel{
    width: 90%;
    margin: 1rem auto 0 auto;
    display: block;
    height: 8rem;
    background-color: orange;
    border-radius: 2rem;
} */



.commentCell{
    //height: 10rem;
    width: 100%;
    border: 1px solid $primary-light;
    border-radius: 0.4rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    .commentRow{
        padding: 0 0 1rem 0;
        /* border-bottom: 1px solid green; */
        .commentBy{
            padding-bottom: 0.5rem;
            color: $primary-light;
        }
    }
    .answerCell{
        margin-left: 4rem;
    }
}

.commentForm{
    margin-top: 3rem;
    width: 100%;
    max-width: 50rem;
    height: 10rem;
    border-radius: 1rem;
    background-color: rgba(200,200,200,0.4);
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    .commentInfo{
        text-align: center;
        border-bottom: 1px solid white;
        font-size: 1.4rem;
    }
    .commentText{
        color: white;
        height: 100%;
        width: 90%;
        margin: 0.5rem 1rem 0 1rem;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $primary-light;
        }
    }
    .submitComment{
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        float: right;
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
        border: 1px solid $primary-dark;
        border-radius: 0.4rem;
    }
}

.commentFormSimple{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    position: relative;
    .commentInfo{
        text-align: center;
        border-bottom: 1px solid white;
        font-size: 1.4rem;
    }
    .commentText{
        border-radius: 1rem 1rem 0 1rem;
        padding: 1rem;
        background-color: rgba(200,200,200,0.4);
        color: white;
        height: 100%;
        width: 90%;
        margin: 0 !important;
        background-color: transparent;
        font-size: 1.4rem;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $primary-light;
        }
    }
    .submitComment{
        right: 0.5rem;
        bottom: 0.5rem;
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
        border: 1px solid $primary-dark;
        border-radius: 0.4rem;
        height: 2.4rem;
        margin-left: 1rem;
        align-self: flex-end;
    }
}

.submitButtonMain{
    background-color: $primary-dark !important;
    border: none;
    padding: 0.2rem;
    color: white;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    &:hover{
        background-color: white !important;
        color: black !important;
    }
}

.logSignForm{
    padding: 2rem;
    box-sizing: border-box;
    background-color: $bgColor;
    /* border: 1px solid $primary-light; */
    border-bottom: 1px solid $primary-light;
    border-right: 1px solid $primary-light;
    border-left: 1px solid $primary-light;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    z-index: 4;

    input{
        color: white;
        min-width: 24rem; // change for mobile
        width: 100%;
        display: block;
        margin: 1rem 0 0 0;
        background-color: transparent;
        border: 1px solid $primary-dark;
    }
}
.fixHeightNoBorder{
    border: none !important;
    min-height: 40rem; // change for mobile
    background-color: transparent !important;
    z-index: 4;
}
.logSignContainer{
    width: 100%;
    
    .logSignSwitch{
        display: flex;
        /* margin-bottom: 2rem; */
        overflow: hidden;
        div{
            background-color: $bgColor;
            width: 50%;
            text-align: center;
            box-sizing: border-box;
            border-top: 1px solid $primary-light;
            border-right: 1px solid $primary-light;
            border-left: 1px solid $primary-light;
            border-radius: 1rem 1rem 0 0;
        }
        .inactive{
            transform: scaleY(0.95) translateY(2px);
            border-bottom: 2px solid $primary-light;
            background-color: rgb(68, 68, 68);
        }
    }
}

@media (max-width: 767px) {
    .mobileToggle{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .mainNavBar{
        position: absolute;
        top: 3rem;
        background-color: $bgColor;
        height: unset;
        display: grid;
        padding: 2rem 0;
        grid-gap: 2rem;
        grid-auto-rows: repeat(5,1fr);
        animation: navFromTop 1s ease-in-out;
        border-bottom: 1px solid $primary-light;
        .searchComp{
            grid-row: 1/2;
        }
    }
    @keyframes navFromTop{
        from{
            transform: translateY(-100vh)
        }
        to{
            transform: translateY(0)
        }
    }
    .mobileNavClosed{
        display: none;
    }



    #postFeedSmall{
        display: none;
    }
  
    .navForward, .navBack{
        display: none !important;
    }
    .commentCell,.commentForm{
        box-sizing: border-box;
    }
    .fullScreenButton{
        display: none;
    }
    .uploadComp{
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto-fill,minmax(2rem, 1fr));
        .uploadForm{
            margin-top: 2rem;
            padding-bottom: 2rem;
            width: 94%;
            grid-row: 2/3;
            grid-column: 1/-1;
        }
        .imageContainer{
            margin-top: 1rem;
            grid-row: 1/2;
            grid-column: 1/-1;
            max-height: unset;
        }
    }
    .uploadModal{
        background-color: $bgColor;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        .innerContent{
            border-radius: 0;
            border: none;
            padding: 2rem 0;
            .closeButton{
                right: 2%;
                top: 2%;
                height: 1rem;
                width: 1rem;
                font-size: 1rem;
            }
        }
    }
    .fixHeightNoBorder{
        min-height: unset;
    }
    .logSignContainer{
        margin-top: 2rem;
    }
    .logSignForm{
        input{
            min-width: unset;
        }
    }
  }